<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- options.fontFamily -%>, A easy way to use svg icons in your project</title>
  <link rel="stylesheet" href="./lib/index.min.css">
</head>
<body>
  <div class="main">
    <div class="header">icons</div>
    <ul class="icon_lists" id="icon_lists">
      <% icons.forEach(function(icon){ %><li class="icon_item" aria-copy="<span class='<%- options.fontPrefix -%><%- icon -%>'></span>">
        <span class="example-icon <%- options.fontPrefix -%><%- icon -%>"></span>
        <div class="example-name"><%- icon -%></div>
      </li>
      <% }); %>
    </ul>
  </div>
</body>
<style>
ul,li{
  margin: 0;
  padding: 0;
}
.main {
  padding: 30px 0;
  width: 1010px;
  margin: 0 auto;
}
.header {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}
.icon_lists {
  width: 100% !important;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-left: 1px solid #eaeefb;
  border-top: 1px solid #eaeefb;
}
.icon_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  width: 100px;
  height: 120px;
  overflow: hidden;
}
.example-icon {
  font-size: 36px;
  color: #333;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: font-size 0.25s linear, width 0.25s linear;
}
.example-name {
  font-size: 12px;
  color: #99a9bf;
  height: 20px;
  overflow: hidden;
  padding: 0 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
}
</style>
<script>
window.onload = function(){
  const btn = document.querySelector('#icon_lists');
  btn.addEventListener('click',(e) => {
    var event = e || window.event;
    var target = event.target || event.srcElement;
    while(!target.matches('li.icon_item')){
      target = target.parentNode;
    }
    const copyValue = target.getAttribute('aria-copy');
    if (navigator.clipboard) {
        navigator.clipboard.writeText(copyValue);
    } else {
      const input = document.createElement('input');
      input.setAttribute('readonly', 'readonly');
      input.style.position = 'absolute';
      input.style.clip = 'rect(0 0 0 0)';
      input.value = copyValue;
      document.body.appendChild(input);
      input.select();
      if (typeof document.execCommand === "function") {
        document.execCommand('copy', true);
      }
      document.body.removeChild(input);
    }
  })
}
</script>
</html>